@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This website is for managing planets in Stellaris made by paradox Interactive</p>
    <h2>Stellaris Downloads</h2>
    <p> <a target="_blank" href="https://www.paradoxplaza.com/stellaris/STST01G-MASTER.html">Paradox Download</a></p>
    <p> <a target="_blank" href="https://store.steampowered.com/app/281990/Stellaris/">Steam Download</a></p>
    <br /><br />
    <h2> Stellaris Socials</h2>
    <p> <a target="_blank" href="https://discord.com/invite/stellarisofficial">Offical Stellaris Discord</a></p>
    <p> <a target="_blank" href="https://twitter.com/StellarisGame">Offical Stellaris Twitter</a></p>
    <br /><br />
    <h2>Download the web extension for use in game</h2>
    <p> <a target="_blank" href="https://steamcommunity.com/app/281990/workshop/">Steam workshop</a></p>
    <p> <a target="_blank" href="https://www.nexusmods.com/stellaris">Nexus</a></p>
</div>
